<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Landing Page</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>

<body>
{% for listing in listing_results %}
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Begin Scrape</a></p>
    </div>
      
    <div class="row">
      <h1>Latest Mars Headline</h1>
        <h2>{{  listing.Title  }}</h2>
        <p>{{  listing.Desc  }}</p>
    </div>

    <div class="row">
        
      <div class="col-md-7">
          <h2>Featured Mars Image</h2>
          <img src="{{  listing.featured_img  }}" class="img-thumbnail">
   <div class="row">
       <div class="col-md-6">
            {% for dict_item in listing.imageurl %}
              <!-- {% for title, img_url in dict_item.items() %} -->
                  <p>{{title}}</p>
                  <img src="{{img_url}}" class="img-thumbnail">
              <!-- {% endfor %} -->
            {% endfor %}
      </div>
      <div class="col-md-5"><table class="table">
              
      <!-- {{  listing.table  }}  -->
      <table border="1" class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th>Mars - Earth Comparison</th> <th>Mars</th> <th>Earth</th> </tr> </thead> <tbody> <tr> <th>0</th> <td>Diameter:</td> <td>6,779 km</td> <td>12,742 km</td> </tr> <tr> <th>1</th> <td>Mass:</td> <td>6.39 × 10^23 kg</td> <td>5.97 × 10^24 kg</td> </tr> <tr> <th>2</th> <td>Moons:</td> <td>2</td> <td>1</td> </tr> <tr> <th>3</th> <td>Distance from Sun:</td> <td>227,943,824 km</td> <td>149,598,262 km</td> </tr> <tr> <th>4</th> <td>Length of Year:</td> <td>687 Earth days</td> <td>365.24 days</td> </tr> <tr> <th>5</th> <td>Temperature:</td> <td>-87 to -5 °C</td> <td>-88 to 58°C</td> </tr> </tbody> </table>
          <table class="table">
          {{listing.table}}
          <!-- </table> -->

          </div>
           
           
       </div>
           
   </div>
          
          
          
    </div>

  </div>
{% endfor %}
</body>

</html>